.user-container {
  margin-left: 64px;
  margin-right: 64px;
  margin-bottom: 50px;
}

.add-button {
  margin-right: 8px !important;
  height: 45px !important;
  width: 45px !important;
}

.table-title {
  font-family: 'Rubik', sans-serif !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

.table-data-text {
  font-family: 'Rubik', sans-serif !important;
  font-size: 16px !important;
}




table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: white;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
  font-family: 'Rubik', sans-serif !important;
  font-size: 16px !important;
}

table th {
  letter-spacing: .1em;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif !important;
  font-size: 16px !important;
}

.buttons {
  display: flex;
}

#edit {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 64px;
}

#delete {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 64px;
}

@media screen and (max-width: 600px) {
  .team-container {
    margin-left: 16px !important;
    margin-right: 16px !important;
  }

  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}